@using Medicoz.Application.Features.Departments.Queries.GetAllDepartments
@model List<DepartmentListDTO>
<!--Page Title-->
<section class="page-title" style="background-image: url(images/background/8.jpg);">
    <div class="auto-container">
        <div class="title-outer">
            <h1>Departments</h1>
            <ul class="page-breadcrumb">
                <li><a asp-action="index" asp-controller="home">Home</a></li>
                <li>Departments</li>
            </ul>
        </div>
    </div>
</section>
<!--End Page Title-->
<!-- Services Section -->
<section class="services-section-two">
    <div class="auto-container">

        <div class="carousel-outer">
            <div class="row">

                @foreach (var item in Model)
                {
                    <!-- service Block -->
                    <div class="service-block-two col-lg-4 col-md-6 col-sm-12" style="height:450px;">
                        <div class="inner-box" style="height:100%;">
                            <div class="image-box">
                                <figure class="image"><a href=""><img style="max-height:200px;" src="~/uploads/images/@item.ImageURL" alt=""></a></figure>
                            </div>
                            <div class="lower-content">
                                <div class="title-box">
                                    @Html.Raw(item.Icon)

                                    <h4><a href="">@item.Name</a></h4>
                                </div>
                                <div class="text">@item.Detail</div>
                            </div>
                        </div>
                    </div>
                }
                

               
            </div>
        </div>
    </div>
</section>
<!-- End service Section -->
