<form class="payment-form" method="post" asp-action="Charge" asp-controller="Payment">
    <div class="form-group">
        <label for="card-element">Credit or debit card</label>
        <div id="card-element" class="card-element"></div>
        <div id="card-errors" role="alert" class="card-errors"></div>
    </div>
    <button type="submit" class="btn btn-primary">Submit Payment</button>
</form>

<style>
    .payment-form {
        max-width: 400px;
        margin: 0 auto;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        margin-bottom:200px;
    }

    .form-group {
        margin-bottom: 20px;
    }

    .card-element {
        border: 1px solid #ccc;
        padding: 10px;
        border-radius: 5px;
    }

    .card-errors {
        color: #dc3545;
        margin-top: 5px;
    }

    .btn {
        padding: 10px 20px;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

        .btn:hover {
            background-color: #0056b3;
        }
</style>

<script src="https://js.stripe.com/v3/"></script>
<script>
    var stripe = Stripe('pk_test_51OmK4RGUI9poVy4j0NeHAQBckNKfWZKj6H9G15Daxn4PhmECIUO1ZBDopgDBS8Yrz35TBLBCdwV2qqWgJ4Wd4JUC00physeAmy');
    var elements = stripe.elements();
    var cardElement = elements.create('card');
    cardElement.mount('#card-element');

    var form = document.getElementById('payment-form');
    form.addEventListener('submit', function (event) {
        event.preventDefault();
        stripe.createToken(cardElement).then(function (result) {
            if (result.error) {
                var errorElement = document.getElementById('card-errors');
                errorElement.textContent = result.error.message;
            } else {
                stripeTokenHandler(result.token);
            }
        });
    });

    function stripeTokenHandler(token) {
        var form = document.getElementById('payment-form');
        var hiddenInput = document.createElement('input');
        hiddenInput.setAttribute('type', 'hidden');
        hiddenInput.setAttribute('name', 'stripeToken');
        hiddenInput.setAttribute('value', token.id);
        form.appendChild(hiddenInput);
        form.submit();
    }
</script>
