@using Medicoz.Application.Localizer;
@using Medicoz.Application.Models.Identity;
@using Medicoz.Identity.Services;
@model User

<header class="main-header header-style-one">

    <!-- Header top -->
    <div class="header-top">
        <div class="auto-container">
            <div class="inner-container">
                <div class="top-left">
                    <ul class="contact-list clearfix">
                        <li><i class="flaticon-hospital-1"></i>234 Triumph, Los Angeles, California, US </li>
                        <li><i class="flaticon-back-in-time"></i>Mon - Sat 8.00 - 18.00. Sunday CLOSED</li>
                    </ul>
                </div>
                <div class="dropdown">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <span>@Model.Firstname</span>   <span>@Model.Lastname</span>
                    }
                    
                    <button class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa-solid fa-globe text-secondary"></i>
                    </button>
                    <div class="dropdown-menu" style="min-width:4rem; width: 20px !important; position: absolute; transform: translate3d(0px, 38px, 0px);top: 0px; right: 0px;  justify-content: center; flex-direction: column; align-items: center;" aria-labelledby="dropdownMenuButton">
                        <a asp-action="ChangeCulture" asp-controller="Culture" asp-route-culture="az" class="dropdown-item" style="display: flex; justify-content: center;"><img style="max-width:20px" src="~/medicoz/flags/az-flag.png" alt="Azerbaycanca"></a>
                        <a asp-action="ChangeCulture" asp-controller="Culture" asp-route-culture="en-US" class="dropdown-item" style="display: flex; justify-content: center;"><img style="max-width:20px" src="~/medicoz/flags/us-flag.png" alt="Russian"> </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Header Top -->
    <!-- Header Lower -->
    <div class="header-lower">
        <div class="auto-container">
            <!-- Main box -->
            <div class="main-box">
                <div class="logo-box">
                    <div class="logo"><a href="~/medicoz/index-2.html"><img src="~/medicoz/images/logo.png" alt="" title=""></a></div>
                </div>

                <!--Nav Box-->
                <div class="nav-outer">
                    <nav class="nav main-menu">
                        <ul class="navigation" id="navbar">
                            <li class="current dropdown">
                                 @* <span>@Localiser["home"]</span>  *@
                            </li>

                            <li class="dropdown">
                                <span>Pages</span>
                                <ul>
                                    <li><a href="~/medicoz/about-us.html">About Us</a></li>
                                    <li><a href="~/medicoz/services.html">Services</a></li>
                                    <li><a href="~/medicoz/services.html">Gallery</a></li>
                                    <li><a href="~/medicoz/pricing-table.html">Pricing Table</a></li>
                                    <li><a href="~/medicoz/elements.html">UI Elements</a></li>
                                    <li><a href="~/medicoz/coming-soon.html">Coming Soon</a></li>
                                    <li><a href="~/medicoz/error-page.html">Error 404</a></li>
                                    <li><a href="~/medicoz/terms-and-condition.html">Terms and Condition</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <span>Doctors</span>
                                <ul>
                                    <li><a href="~/medicoz/doctors.html">Doctors</a></li>
                                    <li><a href="~/medicoz/doctor-detail.html">Doctor Detail</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <span>Departments</span>
                                <ul>
                                    <li><a href="~/medicoz/departments.html">Departments</a></li>
                                    <li><a href="~/medicoz/department-detail.html">Cardiology</a></li>
                                    <li><a href="~/medicoz/department-detail.html">Neurology</a></li>
                                    <li><a href="~/medicoz/department-detail.html">Urology</a></li>
                                    <li><a href="~/medicoz/department-detail.html">Gynecological</a></li>
                                    <li><a href="~/medicoz/department-detail.html">Pediatrical</a></li>
                                    <li><a href="~/medicoz/department-detail.html">Laboratory</a></li>
                                    <li><a href="~/medicoz/department-detail.html">Department Detail</a></li>
                                </ul>
                            </li>

                            <li class="dropdown">
                                <span>Blog</span>
                                <ul>
                                    <li><a href="~/medicoz/blog-checkboard.html">Checkerboard</a></li>
                                    <li><a href="~/medicoz/blog-masonry.html">Masonry</a></li>
                                    <li><a href="~/medicoz/blog-two-col.html">Two Columns</a></li>
                                    <li><a href="~/medicoz/blog-three-col.html">Three Colums</a></li>
                                    <li><a href="~/medicoz/blog-four-col-wide.html">Four Colums</a></li>
                                    <li class="dropdown">
                                        <span>Post Types</span>
                                        <ul>
                                            <li><a href="~/medicoz/blog-post-image.html">Image Post</a></li>
                                            <li><a href="~/medicoz/blog-post-gallery.html">Gallery Post</a></li>
                                            <li><a href="~/medicoz/blog-post-link.html">Link Post</a></li>
                                            <li><a href="~/medicoz/blog-post-audio.html">Audio Post</a></li>
                                            <li><a href="~/medicoz/blog-post-quote.html">Quote Post</a></li>
                                            <li><a href="~/medicoz/blog-post-video.html">Video Post</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <span>Shop</span>
                                <ul>
                                    <li><a href="~/medicoz/shop.html">Shop</a></li>
                                    <li><a href="~/medicoz/shop-single.html">Shop Single</a></li>
                                    <li><a href="~/medicoz/shopping-cart.html">Shopping Cart</a></li>
                                    <li><a href="~/medicoz/checkout.html">Checkout</a></li>
                                    <li><a href="~/medicoz/login.html">Login</a></li>
                                </ul>
                            </li>
                            <li><a href="~/medicoz/contact.html">Contact</a></li>
                        </ul>
                    </nav>
                    <!-- Main Menu End-->

                    <div class="outer-box">
                        <button class="search-btn"><span class="fa fa-search"></span></button>
                        <a href="~/medicoz/appointment.html" id="appointment-btn" class="theme-btn btn-style-one"><span class="btn-title">Appointment</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Sticky Header  -->
    <div class="sticky-header">
        <div class="auto-container">

            <div class="main-box">
                <div class="logo-box">
                    <div class="logo"><a href="~/medicoz/index-2.html"><img src="~/medicoz/images/logo.png" alt="" title=""></a></div>
                </div>

                <!--Keep This Empty / Menu will come through Javascript-->
            </div>
        </div>
    </div><!-- End Sticky Menu -->
    <!-- Mobile Header -->
    <div class="mobile-header">
        <div class="logo"><a href="~/medicoz/index-2.html"><img src="~/medicoz/images/logo.png" alt="" title=""></a></div>

        <!--Nav Box-->
        <div class="nav-outer clearfix">

            <div class="outer-box">
                <!-- Search Btn -->
                <div class="search-box">
                    <button class="search-btn mobile-search-btn"><i class="flaticon-magnifying-glass"></i></button>
                </div>

                <a href="~/medicoz/#nav-mobile" class="mobile-nav-toggler navbar-trigger"><span class="fa fa-bars"></span></a>
            </div>
        </div>
    </div>

    <!-- Mobile Nav -->
    <div id="nav-mobile"></div>

    <!-- Header Search -->
    <div class="search-popup">
        <span class="search-back-drop"></span>
        <button class="close-search"><span class="fa fa-times"></span></button>

        <div class="search-inner">
            <form method="post" action="https://smallcharge.ml/blog-showcase.html">
                <div class="form-group">
                    <input type="search" name="search-field" value="" placeholder="Search..." required="">
                    <button type="submit"><i class="flaticon-magnifying-glass"></i></button>
                </div>
            </form>
        </div>
    </div>
    <!-- End Header Search -->
</header>