
        <!--Page Title-->
        <section class="page-title" style="background-image: url(images/background/8.jpg);">
            <div class="auto-container">
                <div class="title-outer">
                    <h1>Three Column</h1>
                    <ul class="page-breadcrumb">
                        <li><a href="index-2.html">Home</a></li>
                        <li>Blog</li>
                    </ul>
                </div>
            </div>
        </section>
        <!--End Page Title-->
        <!-- Blog Section -->
        <section class="blog-section blog-three-col">
            <div class="auto-container">
                <div class="row">
                    <!-- News Block -->
                    <div class="news-block col-lg-4 col-md-6 col-sm-12 wow fadeInUp">
                        <div class="inner-box">
                            <div class="image-box">
                                <figure class="image"><a href="blog-post-image.html"><img src="images/resource/news-1.jpg" alt=""></a></figure>
                                <a href="#" class="date">Sep 19, 2020</a>
                            </div>
                            <div class="lower-content">
                                <h4><a href="blog-post-image.html">What is The Success rate<br> of a root canel?</a></h4>
                                <div class="text">Nullam mauris vitae tortor sodales efficitur. Quisque orci ante. Proin amet turpis</div>
                                <div class="post-info">
                                    <div class="post-author">By Admin Rose</div>
                                    <ul class="post-option">
                                        <li><a href="#">0 <i class="far fa-heart"></i></a></li>
                                        <li><a href="#">0 <i class="far fa-comments"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- News Block -->
                    <div class="news-block col-lg-4 col-md-6 col-sm-12 wow fadeInUp">
                        <div class="inner-box">
                            <div class="image-box">
                                <figure class="image"><a href="blog-post-image.html"><img src="images/resource/news-2.jpg" alt=""></a></figure>
                                <a href="#" class="date">Sep 19, 2020</a>
                            </div>
                            <div class="lower-content">
                                <h4><a href="blog-post-image.html">How to handle your kids’ <Br>mystery ailments?</a></h4>
                                <div class="text">Nullam mauris vitae tortor sodales efficitur. Quisque orci ante. Proin amet turpis</div>
                                <div class="post-info">
                                    <div class="post-author">By Admin Rose</div>
                                    <ul class="post-option">
                                        <li><a href="#">0 <i class="far fa-heart"></i></a></li>
                                        <li><a href="#">0 <i class="far fa-comments"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- News Block -->
                    <div class="news-block col-lg-4 col-md-6 col-sm-12 wow fadeInUp">
                        <div class="inner-box">
                            <div class="image-box">
                                <figure class="image"><a href="blog-post-image.html"><img src="images/resource/news-3.jpg" alt=""></a></figure>
                                <a href="#" class="date">Sep 19, 2020</a>
                            </div>
                            <div class="lower-content">
                                <h4><a href="blog-post-image.html">How to help the cardiology <br>department</a></h4>
                                <div class="text">Nullam mauris vitae tortor sodales efficitur. Quisque orci ante. Proin amet turpis</div>
                                <div class="post-info">
                                    <div class="post-author">By Admin Rose</div>
                                    <ul class="post-option">
                                        <li><a href="#">0 <i class="far fa-heart"></i></a></li>
                                        <li><a href="#">0 <i class="far fa-comments"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- News Block -->
                    <div class="news-block col-lg-4 col-md-6 col-sm-12 wow fadeInUp">
                        <div class="inner-box">
                            <div class="image-box">
                                <figure class="image"><a href="blog-post-image.html"><img src="images/resource/news-1.jpg" alt=""></a></figure>
                                <a href="#" class="date">Sep 19, 2020</a>
                            </div>
                            <div class="lower-content">
                                <h4><a href="blog-post-image.html">What is The Success rate<br> of a root canel?</a></h4>
                                <div class="text">Nullam mauris vitae tortor sodales efficitur. Quisque orci ante. Proin amet turpis</div>
                                <div class="post-info">
                                    <div class="post-author">By Admin Rose</div>
                                    <ul class="post-option">
                                        <li><a href="#">0 <i class="far fa-heart"></i></a></li>
                                        <li><a href="#">0 <i class="far fa-comments"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- News Block -->
                    <div class="news-block col-lg-4 col-md-6 col-sm-12 wow fadeInUp">
                        <div class="inner-box">
                            <div class="image-box">
                                <figure class="image"><a href="blog-post-image.html"><img src="images/resource/news-2.jpg" alt=""></a></figure>
                                <a href="#" class="date">Sep 19, 2020</a>
                            </div>
                            <div class="lower-content">
                                <h4><a href="blog-post-image.html">How to handle your kids’ <Br>mystery ailments?</a></h4>
                                <div class="text">Nullam mauris vitae tortor sodales efficitur. Quisque orci ante. Proin amet turpis</div>
                                <div class="post-info">
                                    <div class="post-author">By Admin Rose</div>
                                    <ul class="post-option">
                                        <li><a href="#">0 <i class="far fa-heart"></i></a></li>
                                        <li><a href="#">0 <i class="far fa-comments"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- News Block -->
                    <div class="news-block col-lg-4 col-md-6 col-sm-12 wow fadeInUp">
                        <div class="inner-box">
                            <div class="image-box">
                                <figure class="image"><a href="blog-post-image.html"><img src="images/resource/news-3.jpg" alt=""></a></figure>
                                <a href="#" class="date">Sep 19, 2020</a>
                            </div>
                            <div class="lower-content">
                                <h4><a href="blog-post-image.html">How to help the cardiology <br>department</a></h4>
                                <div class="text">Nullam mauris vitae tortor sodales efficitur. Quisque orci ante. Proin amet turpis</div>
                                <div class="post-info">
                                    <div class="post-author">By Admin Rose</div>
                                    <ul class="post-option">
                                        <li><a href="#">0 <i class="far fa-heart"></i></a></li>
                                        <li><a href="#">0 <i class="far fa-comments"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--End Blog Section -->
        <!-- Clients Section -->
        <section class="clients-section alternate">
            <div class="auto-container">

                <!-- Sponsors Outer -->
                <div class="sponsors-outer">
                    <!--clients carousel-->
                    <ul class="clients-carousel owl-carousel owl-theme">
                        <li class="slide-item"> <a href="#"><img src="images/clients/1.png" alt=""></a> </li>
                        <li class="slide-item"> <a href="#"><img src="images/clients/2.png" alt=""></a> </li>
                        <li class="slide-item"> <a href="#"><img src="images/clients/3.png" alt=""></a> </li>
                        <li class="slide-item"> <a href="#"><img src="images/clients/4.png" alt=""></a> </li>
                        <li class="slide-item"> <a href="#"><img src="images/clients/5.png" alt=""></a> </li>
                    </ul>
                </div>
            </div>
        </section>
        <!--End Clients Section -->
      