@using Medicoz.Application.Features.Slider.Commands.UpdateSlider;
@model UpdateSliderCommand
<form enctype="multipart/form-data" asp-action="update" asp-controller="slider">
    <div asp-validation-summary="ModelOnly"></div>
    <div class="mb-3">
        <label class="form-label">Image</label>
        <input class="form-control" asp-for="Image">
        <span asp-validation-for="Image" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label class="form-label">RedirectUrl1</label>
        <input class="form-control" asp-for="RedirectUrl1">
        <span asp-validation-for="RedirectUrl1" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label class="form-label">RedirectUrl2</label>
        <input class="form-control" asp-for="RedirectUrl2">
        <span asp-validation-for="RedirectUrl2"></span>
    </div>
    <div class="mb-3">
        <label class="form-label">AzerbaijaniContent.ButtonName1</label>
        <input class="form-control" asp-for="AzerbaijaniContent.ButtonName1">
        <span asp-validation-for="AzerbaijaniContent.ButtonName1"></span>
    </div>
    <div class="mb-3">
        <label class="form-label">AzerbaijaniContent.ButtonName2</label>
        <input class="form-control" asp-for="AzerbaijaniContent.ButtonName2">
        <span asp-validation-for="AzerbaijaniContent.ButtonName2"></span>
    </div>
    <div class="mb-3">
        <label class="form-label">AzerbaijaniContent.Description</label>
        <input class="form-control" asp-for="AzerbaijaniContent.Description">
        <span asp-validation-for="AzerbaijaniContent.Description"></span>
    </div>
    <div class="mb-3">
        <label class="form-label">AzerbaijaniContent.Title</label>
        <input class="form-control" asp-for="AzerbaijaniContent.Title">
        <span asp-validation-for="AzerbaijaniContent.Title"></span>
    </div>
    <div class="mb-3">
        <label class="form-label">AzerbaijaniContent.Quote</label>
        <input class="form-control" asp-for="AzerbaijaniContent.Quote">
        <span asp-validation-for="AzerbaijaniContent.Quote"></span>
    </div>
    <hr>

    <div class="mb-3">
        <label class="form-label">EnglishContent.ButtonName1</label>
        <input class="form-control" asp-for="EnglishContent.ButtonName1">
        <span asp-validation-for="EnglishContent.ButtonName1" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label class="form-label">EnglishContent.ButtonName2</label>
        <input class="form-control" asp-for="EnglishContent.ButtonName2">
        <span asp-validation-for="EnglishContent.ButtonName2"></span>
    </div>
    <div class="mb-3">
        <label class="form-label">EnglishContent.Description</label>
        <input class="form-control" asp-for="EnglishContent.Description">
        <span asp-validation-for="EnglishContent.Description"></span>
    </div>
    <div class="mb-3">
        <label class="form-label">EnglishContent.Title</label>
        <input class="form-control" asp-for="EnglishContent.Title">
        <span asp-validation-for="EnglishContent.Title"></span>
    </div>
    <div class="mb-3">
        <label class="form-label">EnglishContent.Quote</label>
        <input class="form-control" asp-for="EnglishContent.Quote">
        <span asp-validation-for="EnglishContent.Quote"></span>
    </div>


    <button type="submit" class="btn btn-primary">Submit</button>
</form>