@using Medicoz.Application.Localizer;
@using Medicoz.MVC.ViewModels;
@model HomeViewModel
@inject DatabaseStringLocalizer Localiser
<!--Main Slider-->

<section class="main-slider">
    <div class="rev_slider_wrapper fullwidthbanner-container" id="rev_slider_one_wrapper" data-source="gallery">
        <div class="rev_slider fullwidthabanner" id="rev_slider_one" data-version="5.4.1">
            <ul>
                <li data-index="rs-1" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="300" data-thumb="" data-rotate="0" data-saveperformance="off" data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">

                    <!-- MAIN IMAGE -->
                    <img alt="" class="rev-slidebg" data-bgfit="cover" data-bgparallax="20" data-bgposition="center center" data-bgrepeat="no-repeat" data-no-retina="" src="~/medicoz/images/main-slider/2.jpg">

                    <div class="tp-caption"
                         data-paddingbottom="[0,0,0,0]"
                         data-paddingleft="[15,15,15,15]"
                         data-paddingright="[0,0,0,0]"
                         data-paddingtop="[0,0,0,0]"
                         data-responsive_offset="on"
                         data-type="text"
                         data-height="none"
                         data-width="['750','750','750','650']"
                         data-whitespace="normal"
                         data-hoffset="['0','0','0','0']"
                         data-voffset="['-180','-170','-180','-180']"
                         data-x="['left','left','left','left']"
                         data-y="['middle','middle','middle','middle']"
                         data-textalign="['top','top','top','top']"
                         data-frames='[{"delay":1000,"speed":1500,"frame":"0","from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'>
                        <span class="title">Welcome to our Medical Care Center </span>
                    </div>

                    <div class="tp-caption"
                         data-paddingbottom="[0,0,0,0]"
                         data-paddingleft="[15,15,15,15]"
                         data-paddingright="[15,15,15,15]"
                         data-paddingtop="[0,0,0,0]"
                         data-responsive_offset="on"
                         data-type="text"
                         data-height="none"
                         data-width="['750','750','750','650']"
                         data-whitespace="normal"
                         data-hoffset="['0','0','0','0']"
                         data-voffset="['-100','-95','-100','-115']"
                         data-x="['left','left','left','left']"
                         data-y="['middle','middle','middle','middle']"
                         data-textalign="['top','top','top','top']"
                         data-frames='[{"delay":1000,"speed":1500,"frame":"0","from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'>
                        <h2>We take care our <br>patients health</h2>
                    </div>

                    <div class="tp-caption"
                         data-paddingbottom="[0,0,0,0]"
                         data-paddingleft="[15,15,15,15]"
                         data-paddingright="[15,15,15,15]"
                         data-paddingtop="[0,0,0,0]"
                         data-responsive_offset="on"
                         data-type="text"
                         data-height="none"
                         data-width="['700','750','700','450']"
                         data-whitespace="normal"
                         data-hoffset="['0','0','0','0']"
                         data-voffset="['0','0','0','0']"
                         data-x="['left','left','left','left']"
                         data-y="['middle','middle','middle','middle']"
                         data-textalign="['top','top','top','top']"
                         data-frames='[{"delay":1000,"speed":1500,"frame":"0","from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'>
                        <div class="text">I realized that becoming a doctor, I can only help a small community. <br>But by becoming a doctor, I can help my whole country. </div>
                    </div>

                    <div class="tp-caption tp-resizeme"
                         data-paddingbottom="[0,0,0,0]"
                         data-paddingleft="[15,15,15,15]"
                         data-paddingright="[15,15,15,15]"
                         data-paddingtop="[0,0,0,0]"
                         data-responsive_offset="on"
                         data-type="text"
                         data-height="none"
                         data-whitespace="normal"
                         data-width="['650','650','700','300']"
                         data-hoffset="['0','0','0','0']"
                         data-voffset="['80','90','90','140']"
                         data-x="['left','left','left','left']"
                         data-y="['middle','middle','middle','middle']"
                         data-textalign="['top','top','top','top']"
                         data-frames='[{"delay":1000,"speed":2000,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power4.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'>
                        <div class="btn-box">
                            <a href="~/medicoz/about-us.html" class="theme-btn btn-style-one"><span class="btn-title">About Us</span></a>
                            <a href="~/medicoz/departments.html" class="theme-btn btn-style-two"><span class="btn-title">Our Services</span></a>
                        </div>
                    </div>
                </li>

                <li data-index="rs-2" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="300" data-thumb="" data-rotate="0" data-saveperformance="off" data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">

                    <!-- MAIN IMAGE -->
                    <img alt="" class="rev-slidebg" data-bgfit="cover" data-bgparallax="20" data-bgposition="center center" data-bgrepeat="no-repeat" data-no-retina="" src="~/medicoz/images/main-slider/1.jpg">

                    <div class="tp-caption"
                         data-paddingbottom="[0,0,0,0]"
                         data-paddingleft="[15,15,15,15]"
                         data-paddingright="[0,0,0,0]"
                         data-paddingtop="[0,0,0,0]"
                         data-responsive_offset="on"
                         data-type="text"
                         data-height="none"
                         data-width="['750','750','750','650']"
                         data-whitespace="normal"
                         data-hoffset="['0','0','0','0']"
                         data-voffset="['-180','-170','-180','-180']"
                         data-x="['left','left','left','left']"
                         data-y="['middle','middle','middle','middle']"
                         data-textalign="['top','top','top','top']"
                         data-frames='[{"delay":1000,"speed":1500,"frame":"0","from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'>
                        <span class="title">Welcome to our Medical Care Center </span>
                    </div>

                    <div class="tp-caption"
                         data-paddingbottom="[0,0,0,0]"
                         data-paddingleft="[15,15,15,15]"
                         data-paddingright="[15,15,15,15]"
                         data-paddingtop="[0,0,0,0]"
                         data-responsive_offset="on"
                         data-type="text"
                         data-height="none"
                         data-width="['750','750','750','650']"
                         data-whitespace="normal"
                         data-hoffset="['0','0','0','0']"
                         data-voffset="['-100','-95','-100','-115']"
                         data-x="['left','left','left','left']"
                         data-y="['middle','middle','middle','middle']"
                         data-textalign="['top','top','top','top']"
                         data-frames='[{"delay":1000,"speed":1500,"frame":"0","from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'>
                        <h2>We take care our <br>patients health</h2>
                    </div>

                    <div class="tp-caption"
                         data-paddingbottom="[0,0,0,0]"
                         data-paddingleft="[15,15,15,15]"
                         data-paddingright="[15,15,15,15]"
                         data-paddingtop="[0,0,0,0]"
                         data-responsive_offset="on"
                         data-type="text"
                         data-height="none"
                         data-width="['700','750','700','450']"
                         data-whitespace="normal"
                         data-hoffset="['0','0','0','0']"
                         data-voffset="['0','0','0','0']"
                         data-x="['left','left','left','left']"
                         data-y="['middle','middle','middle','middle']"
                         data-textalign="['top','top','top','top']"
                         data-frames='[{"delay":1000,"speed":1500,"frame":"0","from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'>
                        <div class="text">I realized that becoming a doctor, I can only help a small community. <br>But by becoming a doctor, I can help my whole country. </div>
                    </div>

                    <div class="tp-caption tp-resizeme"
                         data-paddingbottom="[0,0,0,0]"
                         data-paddingleft="[15,15,15,15]"
                         data-paddingright="[15,15,15,15]"
                         data-paddingtop="[0,0,0,0]"
                         data-responsive_offset="on"
                         data-type="text"
                         data-height="none"
                         data-whitespace="normal"
                         data-width="['650','650','700','300']"
                         data-hoffset="['0','0','0','0']"
                         data-voffset="['80','90','90','140']"
                         data-x="['left','left','left','left']"
                         data-y="['middle','middle','middle','middle']"
                         data-textalign="['top','top','top','top']"
                         data-frames='[{"delay":1000,"speed":2000,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power4.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'>
                        <div class="btn-box">
                            <a href="~/medicoz/about-us.html" class="theme-btn btn-style-one"><span class="btn-title">About Us</span></a>
                            <a href="~/medicoz/departments.html" class="theme-btn btn-style-two"><span class="btn-title">Our Services</span></a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>
<!-- End Main Slider-->
<!-- Top Features -->
<section class="top-features">
    <div class="auto-container">
        <div class="row">
            <!-- Feature Block -->
            <div class="feature-block col-lg-4 col-md-6 col-sm-12">
                <div class="inner-box">
                    <span class="icon flaticon-charity"></span>
                    <h4><a href="~/medicoz/#">@Localiser["home"]</a></h4>
                    <p>Our Delmont hospital utilizes state of the art technology and employs a team of true experts.</p>
                </div>
            </div>

            <!-- Feature Block -->
            <div class="feature-block col-lg-4 col-md-6 col-sm-12">
                <div class="inner-box">
                    <span class="icon flaticon-lifeline"></span>
                    <h4><a href="~/medicoz/#">Leading Technology</a></h4>
                    <p>Our Delmont hospital utilizes state of the art technology and employs a team of true experts.</p>
                </div>
            </div>

            <!-- Feature Block -->
            <div class="feature-block col-lg-4 col-md-6 col-sm-12">
                <div class="inner-box">
                    <span class="icon flaticon-doctor"></span>
                    <h4><a href="~/medicoz/#">Experts by Experience</a></h4>
                    <p>Our Delmont hospital utilizes state of the art technology and employs a team of true experts.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Features Section -->
<!-- About Section -->
<section class="about-section">
    <div class="auto-container">
        <div class="row">
            <!-- Content Column -->
            <div class="content-column col-lg-6 col-md-12 col-sm-12 order-2">
                <div class="inner-column">
                    <div class="sec-title">
                        <span class="sub-title">OUR MEDICAL</span>
                        <h2>We're setting Standards in Research what's more, Clinical Care.</h2>
                        <span class="divider"></span>
                        <p>We provide the most full medical services, so every person could have the pportunity o receive qualitative medical help.</p>
                        <p> Our Clinic has grown to provide a world class facility for the treatment of tooth loss, dental cosmetics and bore advanced restorative dentistry. We are among the most qualified implant providers in the AUS with over 30 years of uality training and experience.</p>
                    </div>
                    <div class="link-box">
                        <figure class="signature"><img src="~/medicoz/images/resource/signature.png" alt=""></figure>
                        <a href="~/medicoz/#" class="theme-btn btn-style-one"><span class="btn-title">More About</span></a>
                    </div>
                </div>
            </div>

            <!-- Images Column -->
            <div class="images-column col-lg-6 col-md-12 col-sm-12">
                <div class="inner-column">
                    <div class="video-link">
                        <a href="~/medicoz/https://www.youtube.com/watch?v=4UvS3k8D4rs" class="play-btn lightbox-image" data-fancybox="images"><span class="flaticon-play-button-1"></span></a>
                    </div>
                    <figure class="image-1"><img src="~/medicoz/images/resource/image-1.png" alt=""></figure>
                    <figure class="image-2"><img src="~/medicoz/images/resource/image-2.png" alt=""></figure>
                    <figure class="image-3">
                        <span class="hex"></span>
                        <img src="~/medicoz/images/resource/image-3.png" alt="">
                    </figure>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End About Section -->
<!-- Services Section -->
<section class="services-section">
    <div class="auto-container">
        <div class="sec-title text-center">
            <span class="sub-title">OUR SERVICES</span>
            <h2>We Care Our Patients.</h2>
            <span class="divider"></span>
        </div>

        <div class="row">
            <!-- Service Block -->
            <div class="service-block col-lg-4 col-md-6 col-sm-12">
                <div class="inner-box">
                    <span class="icon flaticon-heartbeat"></span>
                    <h5><a href="~/medicoz/#">Health Check</a></h5>
                    <div class="text">We offer extensive medical procedures to outbound & inbound patients what it is and we are very proud achievement staff.</div>
                </div>
            </div>

            <!-- Service Block -->
            <div class="service-block col-lg-4 col-md-6 col-sm-12">
                <div class="inner-box">
                    <span class="icon flaticon-surgery-room"></span>
                    <h5><a href="~/medicoz/#">Operation Theater</a></h5>
                    <div class="text">We offer extensive medical procedures to outbound & inbound patients what it is and we are very proud achievement staff.</div>
                </div>
            </div>

            <!-- Service Block -->
            <div class="service-block col-lg-4 col-md-6 col-sm-12">
                <div class="inner-box">
                    <span class="icon flaticon-pharmacy"></span>
                    <h5><a href="~/medicoz/#">Pharmacy Support</a></h5>
                    <div class="text">We offer extensive medical procedures to outbound & inbound patients what it is and we are very proud achievement staff.</div>
                </div>
            </div>

            <!-- Service Block -->
            <div class="service-block col-lg-4 col-md-6 col-sm-12">
                <div class="inner-box">
                    <span class="icon flaticon-transport"></span>
                    <h5><a href="~/medicoz/#">Ambulance Car</a></h5>
                    <div class="text">We offer extensive medical procedures to outbound & inbound patients what it is and we are very proud achievement staff.</div>
                </div>
            </div>

            <!-- Service Block -->
            <div class="service-block col-lg-4 col-md-6 col-sm-12">
                <div class="inner-box">
                    <span class="icon flaticon-lab"></span>
                    <h5><a href="~/medicoz/#">Lat Tests</a></h5>
                    <div class="text">We offer extensive medical procedures to outbound & inbound patients what it is and we are very proud achievement staff.</div>
                </div>
            </div>

            <!-- Service Block -->
            <div class="service-block col-lg-4 col-md-6 col-sm-12">
                <div class="inner-box">
                    <span class="icon flaticon-first-aid"></span>
                    <h5><a href="~/medicoz/#">Intensive Care</a></h5>
                    <div class="text">We offer extensive medical procedures to outbound & inbound patients what it is and we are very proud achievement staff.</div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End Services Section -->
<!-- Team Section -->
<section class="team-section">
    <div class="auto-container">
        <div class="sec-title text-center">
            <span class="sub-title">Our Doctor</span>
            <h2>Our Dedicated Doctors Team</h2>
            <span class="divider"></span>
        </div>

        <div class="row">
            <!-- Team Block -->
            <div class="team-block col-lg-3 col-md-6 col-sm-12 wow fadeInUp">
                <div class="inner-box">
                    <figure class="image"><img src="~/medicoz/images/resource/team-1.jpg" alt=""></figure>
                    <ul class="social-links">
                        <li><a href="~/medicoz/#"><span class="fab fa-facebook"></span></a></li>
                        <li><a href="~/medicoz/#"><span class="fab fa-linkedin-in"></span></a></li>
                        <li><a href="~/medicoz/#"><span class="fab fa-twitter"></span></a></li>
                        <li><a href="~/medicoz/#"><span class="fab fa-pinterest"></span></a></li>
                    </ul>
                    <div class="info-box">
                        <h4 class="name"><a href="~/medicoz/doctor-detail.html">Dr. Morila Wood</a></h4>
                        <span class="designation">Senior Dr. at Delmont</span>
                    </div>
                </div>
            </div>

            <!-- Team Block -->
            <div class="team-block col-lg-3 col-md-6 col-sm-12 wow fadeInUp">
                <div class="inner-box">
                    <figure class="image"><img src="~/medicoz/images/resource/team-2.jpg" alt=""></figure>
                    <ul class="social-links">
                        <li><a href="~/medicoz/#"><span class="fab fa-facebook"></span></a></li>
                        <li><a href="~/medicoz/#"><span class="fab fa-linkedin-in"></span></a></li>
                        <li><a href="~/medicoz/#"><span class="fab fa-twitter"></span></a></li>
                        <li><a href="~/medicoz/#"><span class="fab fa-pinterest"></span></a></li>
                    </ul>
                    <div class="info-box">
                        <h4 class="name"><a href="~/medicoz/doctor-detail.html">Dr. Morila Wood</a></h4>
                        <span class="designation">Senior Dr. at Delmont</span>
                    </div>
                </div>
            </div>

            <!-- Team Block -->
            <div class="team-block col-lg-3 col-md-6 col-sm-12 wow fadeInUp">
                <div class="inner-box">
                    <figure class="image"><img src="~/medicoz/images/resource/team-3.jpg" alt=""></figure>
                    <ul class="social-links">
                        <li><a href="~/medicoz/#"><span class="fab fa-facebook"></span></a></li>
                        <li><a href="~/medicoz/#"><span class="fab fa-linkedin-in"></span></a></li>
                        <li><a href="~/medicoz/#"><span class="fab fa-twitter"></span></a></li>
                        <li><a href="~/medicoz/#"><span class="fab fa-pinterest"></span></a></li>
                    </ul>
                    <div class="info-box">
                        <h4 class="name"><a href="~/medicoz/doctor-detail.html">Dr. Morila Wood</a></h4>
                        <span class="designation">Senior Dr. at Delmont</span>
                    </div>
                </div>
            </div>

            <!-- Team Block -->
            <div class="team-block col-lg-3 col-md-6 col-sm-12 wow fadeInUp">
                <div class="inner-box">
                    <figure class="image"><img src="~/medicoz/images/resource/team-4.jpg" alt=""></figure>
                    <ul class="social-links">
                        <li><a href="~/medicoz/#"><span class="fab fa-facebook"></span></a></li>
                        <li><a href="~/medicoz/#"><span class="fab fa-linkedin-in"></span></a></li>
                        <li><a href="~/medicoz/#"><span class="fab fa-twitter"></span></a></li>
                        <li><a href="~/medicoz/#"><span class="fab fa-pinterest"></span></a></li>
                    </ul>
                    <div class="info-box">
                        <h4 class="name"><a href="~/medicoz/doctor-detail.html">Dr. Morila Wood</a></h4>
                        <span class="designation">Senior Dr. at Delmont</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="sec-bottom-text">Don’t hesitate, contact us for better help and services <a href="~/medicoz/#">Explore all Dr. Team</a></div>
    </div>
</section>
<!-- End Team Section -->
<!-- Appointment Section -->
<section class="appointment-section">
    <div class="image-layer" style="background-image: url(images/background/2.jpg);"></div>
    <div class="auto-container">
        <div class="row">
            <!-- Content Column -->
            <div class="content-column col-lg-6 col-md-12 col-sm-12">
                <div class="inner-column">
                    <span class="title">Need a Doctor for Check-up?</span>
                    <h2>Just Make an Appointment <br>and You’re Done!</h2>
                    <div class="number">Get Your Quote or Call: <strong>(0080) 123-453-789</strong></div>
                    <a href="~/medicoz/#" class="theme-btn btn-style-three"><span class="btn-title">Get an Appointment</span></a>
                </div>
            </div>
            <div class="image-column col-lg-6 col-md-12 col-sm-12">
                <figure class="image"><img src="~/medicoz/images/resource/image-4.png" alt=""></figure>
            </div>
        </div>

        <div class="fun-fact-section">
            <div class="row">
                <!--Column-->
                <div class="counter-column col-lg-3 col-md-6 col-sm-12 wow fadeInUp">
                    <div class="count-box">
                        <div class="icon-box"><span class="icon flaticon-user-experience"></span></div>
                        <h4 class="counter-title">Years of Experience</h4>
                        <span class="count-text" data-speed="3000" data-stop="25">0</span>
                    </div>
                </div>

                <!--Column-->
                <div class="counter-column col-lg-3 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="400ms">
                    <div class="count-box">
                        <div class="icon-box"><span class="icon flaticon-team"></span></div>
                        <h4 class="counter-title">Medical Spesialities</h4>
                        <span class="count-text" data-speed="3000" data-stop="470">0</span>
                    </div>
                </div>

                <!--Column-->
                <div class="counter-column col-lg-3 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="800ms">
                    <div class="count-box">
                        <div class="icon-box"><span class="icon flaticon-hospital"></span></div>
                        <h4 class="counter-title">Medical Spesialities</h4>
                        <span class="count-text" data-speed="3000" data-stop="689">0</span>
                    </div>
                </div>

                <!--Column-->
                <div class="counter-column col-lg-3 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="1200ms">
                    <div class="count-box">
                        <div class="icon-box"><span class="icon flaticon-add-friend"></span></div>
                        <h4 class="counter-title">Happy Patients</h4>
                        <span class="count-text" data-speed="3000" data-stop="9036">0</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Appointment Section -->
<!-- Testimonial Section -->
<section class="testimonial-section">
    <div class="auto-container">
        <!-- Sec Title -->
        <div class="sec-title text-center">
            <span class="title">HAPPY Patient</span>
            <h2>What Says Our Patients</h2>
            <span class="divider"></span>
        </div>

        <div class="testimonial-outer">
            <!-- Client Testimonial Carousel -->
            <div class="client-testimonial-carousel owl-carousel owl-theme">

                <!--Testimonial Block -->
                <div class="testimonial-block">
                    <div class="inner-box">
                        <div class="text">Medical Centre is a great place to get all of your medical needs. I came in for a check up and did not wait more than 5 minutes before I was seen. I can only imagine the type of service you get for more serious issues. Thanks!</div>
                    </div>
                </div>

                <!--Testimonial Block -->
                <div class="testimonial-block">
                    <div class="inner-box">
                        <div class="text">Medical Centre is a great place to get all of your medical needs. I came in for a check up and did not wait more than 5 minutes before I was seen. I can only imagine the type of service you get for more serious issues. Thanks!</div>
                    </div>
                </div>

                <!--Testimonial Block -->
                <div class="testimonial-block">
                    <div class="inner-box">
                        <div class="text">Medical Centre is a great place to get all of your medical needs. I came in for a check up and did not wait more than 5 minutes before I was seen. I can only imagine the type of service you get for more serious issues. Thanks!</div>
                    </div>
                </div>

                <!--Testimonial Block -->
                <div class="testimonial-block">
                    <div class="inner-box">
                        <div class="text">Medical Centre is a great place to get all of your medical needs. I came in for a check up and did not wait more than 5 minutes before I was seen. I can only imagine the type of service you get for more serious issues. Thanks!</div>
                    </div>
                </div>

                <!--Testimonial Block -->
                <div class="testimonial-block">
                    <div class="inner-box">
                        <div class="text">Medical Centre is a great place to get all of your medical needs. I came in for a check up and did not wait more than 5 minutes before I was seen. I can only imagine the type of service you get for more serious issues. Thanks!</div>
                    </div>
                </div>
            </div>

            <!-- Product Thumbs Carousel -->
            <div class="client-thumb-outer">
                <div class="client-thumbs-carousel owl-carousel owl-theme">
                    <div class="thumb-item">
                        <figure class="thumb-box"><img src="~/medicoz/images/resource/testi-thumb-1.jpg" alt=""></figure>
                        <div class="author-info">
                            <span class="icon fa fa-quote-left"></span>
                            <div class="author-name">Lara Croft</div>
                            <div class="designation">Restaurant Owner</div>
                        </div>
                    </div>
                    <div class="thumb-item">
                        <figure class="thumb-box"><img src="~/medicoz/images/resource/testi-thumb-2.jpg" alt=""></figure>
                        <div class="author-info">
                            <span class="icon fa fa-quote-left"></span>
                            <div class="author-name">Lara Croft</div>
                            <div class="designation">Restaurant Owner</div>
                        </div>
                    </div>
                    <div class="thumb-item">
                        <figure class="thumb-box"><img src="~/medicoz/images/resource/testi-thumb-3.jpg" alt=""></figure>
                        <div class="author-info">
                            <span class="icon fa fa-quote-left"></span>
                            <div class="author-name">Lara Croft</div>
                            <div class="designation">Restaurant Owner</div>
                        </div>
                    </div>
                    <div class="thumb-item">
                        <figure class="thumb-box"><img src="~/medicoz/images/resource/testi-thumb-2.jpg" alt=""></figure>
                        <div class="author-info">
                            <span class="icon fa fa-quote-left"></span>
                            <div class="author-name">Lara Croft</div>
                            <div class="designation">Restaurant Owner</div>
                        </div>
                    </div>
                    <div class="thumb-item">
                        <figure class="thumb-box"><img src="~/medicoz/images/resource/testi-thumb-3.jpg" alt=""></figure>
                        <div class="author-info">
                            <span class="icon fa fa-quote-left"></span>
                            <div class="author-name">Lara Croft</div>
                            <div class="designation">Restaurant Owner</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Testimonial Section -->
<!-- Pricing Section -->
<section class="pricing-section">
    <div class="auto-container">
        <div class="sec-title text-center">
            <span class="sub-title">Our Pricing</span>
            <h2>Pricing Plan</h2>
            <span class="divider"></span>
        </div>

        <div class="outer-box">
            <div class="row">
                <!-- Pricing Block -->
                <div class="pricing-block col-lg-3 col-md-6 col-sm-12">
                    <div class="inner-box">
                        <div class="price-box">
                            <h4 class="price">$299</h4>
                            <div class="validaty">Per Month</div>
                        </div>
                        <h3 class="title">Cardiology</h3>
                        <ul class="features">
                            <li>Functional Diagnotics</li>
                            <li>Allergens Drugs</li>
                            <li>Pollen Allergens</li>
                            <li>Food Allergens</li>
                        </ul>
                        <div class="btn-box">
                            <a href="~/medicoz/#" class="theme-btn">Get Offer</a>
                        </div>
                    </div>
                </div>

                <!-- Pricing Block -->
                <div class="pricing-block col-lg-3 col-md-6 col-sm-12">
                    <div class="inner-box">
                        <div class="price-box">
                            <h4 class="price">$120</h4>
                            <div class="validaty">Per Month</div>
                        </div>
                        <h3 class="title">Detal Care</h3>
                        <ul class="features">
                            <li>Tooth implantation</li>
                            <li>Lase Dentistry</li>
                            <li>Tests and Treatment</li>
                            <li>Medical Consultation</li>
                        </ul>
                        <div class="btn-box">
                            <a href="~/medicoz/#" class="theme-btn">Get Offer</a>
                        </div>
                    </div>
                </div>

                <!-- Pricing Block -->
                <div class="pricing-block col-lg-3 col-md-6 col-sm-12">
                    <div class="inner-box">
                        <div class="price-box">
                            <h4 class="price">$150</h4>
                            <div class="validaty">Per Month</div>
                        </div>
                        <h3 class="title">Body Checkup</h3>
                        <ul class="features">
                            <li>Tests and Treatment</li>
                            <li>Tests and Treatment</li>
                            <li>Laboratory Services</li>
                            <li>Food Allergens</li>
                        </ul>
                        <div class="btn-box">
                            <a href="~/medicoz/#" class="theme-btn">Get Offer</a>
                        </div>
                    </div>
                </div>

                <!-- Pricing Block -->
                <div class="pricing-block col-lg-3 col-md-6 col-sm-12">
                    <div class="inner-box">
                        <div class="price-box">
                            <h4 class="price">$100</h4>
                            <div class="validaty">Per Month</div>
                        </div>
                        <h3 class="title">Blood Test</h3>
                        <ul class="features">
                            <li>Blood Test Service</li>
                            <li>Safety Training Tips</li>
                            <li>Tests and Treatment</li>
                            <li>Food Allergens</li>
                        </ul>
                        <div class="btn-box">
                            <a href="~/medicoz/#" class="theme-btn">Get Offer</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="sec-bottom-text">Don’t hesitate, contact us for better help and services <a href="~/medicoz/#">Explore all Dr. Team</a></div>
    </div>
</section>
<!--End Pricing Section -->
<!-- News Section -->
<section class="news-section">
    <div class="auto-container">
        <!-- Sec Title -->
        <div class="sec-title text-center">
            <span class="title">OUR BLOG</span>
            <h2>Recent Articles and News</h2>
            <span class="divider"></span>
        </div>

        <div class="row">
            <!-- News Block -->
            <div class="news-block col-lg-4 col-md-6 col-sm-12 wow fadeInUp">
                <div class="inner-box">
                    <div class="image-box">
                        <figure class="image"><a href="~/medicoz/blog-post-image.html"><img src="~/medicoz/images/resource/news-1.jpg" alt=""></a></figure>
                        <a href="~/medicoz/#" class="date">Sep 19, 2020</a>
                    </div>
                    <div class="lower-content">
                        <h4><a href="~/medicoz/blog-post-image.html">What is The Success rate<br> of a root canel?</a></h4>
                        <div class="text">Nullam mauris vitae tortor sodales efficitur. Quisque orci ante. Proin amet turpis</div>
                        <div class="post-info">
                            <div class="post-author">By Admin Rose</div>
                            <ul class="post-option">
                                <li><a href="~/medicoz/#">0 <i class="far fa-heart"></i></a></li>
                                <li><a href="~/medicoz/#">0 <i class="far fa-comments"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <!-- News Block -->
            <div class="news-block col-lg-4 col-md-6 col-sm-12 wow fadeInUp">
                <div class="inner-box">
                    <div class="image-box">
                        <figure class="image"><a href="~/medicoz/blog-post-image.html"><img src="~/medicoz/images/resource/news-2.jpg" alt=""></a></figure>
                        <a href="~/medicoz/#" class="date">Sep 19, 2020</a>
                    </div>
                    <div class="lower-content">
                        <h4><a href="~/medicoz/blog-post-image.html">How to handle your kids’ <Br>mystery ailments?</a></h4>
                        <div class="text">Nullam mauris vitae tortor sodales efficitur. Quisque orci ante. Proin amet turpis</div>
                        <div class="post-info">
                            <div class="post-author">By Admin Rose</div>
                            <ul class="post-option">
                                <li><a href="~/medicoz/#">0 <i class="far fa-heart"></i></a></li>
                                <li><a href="~/medicoz/#">0 <i class="far fa-comments"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <!-- News Block -->
            <div class="news-block col-lg-4 col-md-6 col-sm-12 wow fadeInUp">
                <div class="inner-box">
                    <div class="image-box">
                        <figure class="image"><a href="~/medicoz/blog-post-image.html"><img src="~/medicoz/images/resource/news-3.jpg" alt=""></a></figure>
                        <a href="~/medicoz/#" class="date">Sep 19, 2020</a>
                    </div>
                    <div class="lower-content">
                        <h4><a href="~/medicoz/blog-post-image.html">How to help the cardiology <br>department</a></h4>
                        <div class="text">Nullam mauris vitae tortor sodales efficitur. Quisque orci ante. Proin amet turpis</div>
                        <div class="post-info">
                            <div class="post-author">By Admin Rose</div>
                            <ul class="post-option">
                                <li><a href="~/medicoz/#">0 <i class="far fa-heart"></i></a></li>
                                <li><a href="~/medicoz/#">0 <i class="far fa-comments"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!--End News Section -->
<!-- Clients Section -->
<section class="clients-section">
    <div class="auto-container">

        <!-- Sponsors Outer -->
        <div class="sponsors-outer">
            <!--clients carousel-->
            <ul class="clients-carousel owl-carousel owl-theme">
                <li class="slide-item"> <a href="~/medicoz/#"><img src="~/medicoz/images/clients/1.png" alt=""></a> </li>
                <li class="slide-item"> <a href="~/medicoz/#"><img src="~/medicoz/images/clients/2.png" alt=""></a> </li>
                <li class="slide-item"> <a href="~/medicoz/#"><img src="~/medicoz/images/clients/3.png" alt=""></a> </li>
                <li class="slide-item"> <a href="~/medicoz/#"><img src="~/medicoz/images/clients/4.png" alt=""></a> </li>
                <li class="slide-item"> <a href="~/medicoz/#"><img src="~/medicoz/images/clients/5.png" alt=""></a> </li>
            </ul>
        </div>
    </div>
</section>
<!--End Clients Section -->